.comment-col{
    max-height: 280px;
    margin-left: 10px;
}

.main{
    margin-left: 20%;
}

#comment{
    margin: 1px 20px; 
    max-width: 350px;
}

.post-col{
    padding: 0px;
}

@media (max-width: 1130px) {
    
    .main{
        margin-left: 7%;
    }

    .card{
        width: 25rem !important;
    }
    
}

@media (max-width: 1060px) {
    
    .main{
        margin-left: 30%;
    }

    .comment-col{
        margin-left: 0px;
    }

    .card{
        max-height: 18rem;
    }
    
}

@media (max-width: 760px) {
    
    .main{
        margin-left: 7%;
    }
    
}

@media (max-width: 560px) {
    
    .main{
        margin-left: 7%;
    }

    .card{
        width: 20rem !important;
    }

    #comment{
        margin: 1px 20px; 
        max-width: 250px
    }
    
}

@media (max-height: 1100px) {

    #comment{
        max-width: 250px;
    }
    
}